<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">用户列表</h4>
        <p class="category">关注公众号的用户</p>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead>
                    <tr>
                            <th>昵称</th>
                            <th>{{wechat_user.nickname}}</th>
                        </tr>
            </thead>
            <tbody>
              {% for user in wechat_users %}
              <tr>
                <td>{{forloop.counter}}</td>

                <td>{{user.openid}}</td>
                <td>{{user.nickname}}</td>
                {% if user.sex == 1%}
                <td>男</td>
                {%else%}
                <td>女</td>
                {%endif%}
                <td>{{user.province}}</td>
                <td>{{user.city}}</td>
                <td>
                    <a href="{%url 'user_detail' user.id%}"><i class="material-icons">edit</i></a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</div>