html {
  box-sizing: border-box;
  height: 100%;
  font-size: 100px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #f3f3f3;
  font-size: 16px;
  height: 100%;
  font-family: 'Avenir', Arial, sans-serif, 'PingFang SC', 'Noto Sans CJK SC', 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clear::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.vux-header {
  background: linear-gradient(to right, #2bcba7, #2bc0cb);
}
.vux-search-box .weui-search-bar {
  background: linear-gradient(to right, #2bcba7, #2bc0cb);
}
.vux-search-box .weui-search-bar:before {
  height: 0;
  border-top: none;
}

.main-center {
  justify-content: center;
}
.axis-center {
  align-items: center;
}

.ab-left {
  position: absolute;
  right: 10px;
}
.ab-right {
  position: absolute;
  right: 10px;
}

p.body-info {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
/* Fix Vux rem problems */

.vux-timeline .vux-timeline-item-content {
  padding: 8px 0 25px 30px;
}
.main-part .vux-slider > .vux-swiper > .vux-swiper-item > a > .vux-swiper-desc {
  height: 56px;
}

.book-opt .right .vux-tab {
  background-color: #f1f2f7;
}

/* Button */

.i-btn {
  display: inline-block;
  line-height: 1;
  border: 0;
  padding: 10px 16px;
  background-color: #2bc6b9;
  color: #fff;
  border-radius: 8px;
  outline: none;
  transition: background-color .5s ease-in-out;
}
.i-btn:active {
  background-color: #279f95;
}
/*.i-btn:hover {
  background-color: #2bc0cb;
}*/
.i-btn:disabled {
  background-color: #b0afaf;
}

.multi-btn {
  margin: 5px 10px;
}

/* Checker */
.i-checker-container {
  display: inline-block;
  z-index: 2;
}
.i-checker-input {
  position: absolute;
  visibility: hidden;
}
.i-checker-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 3px #dcdcdc solid;
  z-index: 1;
  border-radius: 2px;
  transition: background-color .3s ease-in-out;
  pointer-events: none;
}
.i-checker-input:checked+.i-checker-icon {
  background-color: #2bc6b9;
}

.i-btn-lg {
  display: block;
  width: 90%;
  border-radius: 4px;
}

.i-btn-blank {
  display: inline-block;
  line-height: 1;
  border: 1px #727271 solid;
  color: #727271;
  border-radius: 10px;
  padding: 6px 20px;
  background-color: transparent;
  transition: all .3s ease-in-out;
  outline: none;
}
.i-btn-blank:active {
  border-color: #fff;
  color: #fff;
  background-color: #2bcaab;
}

.i-ellipsis {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.i-select {
  display: inline-block;
  max-width: 100%;
  background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…'0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.i-select>select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}
.i-icon-plus {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
}
.i-icon-plus::before, .i-icon-plus::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.i-icon-plus::before {
  width: 20px;
  height: 2px;
}
.i-icon-plus::after{
  height: 20px;
  width: 2px;
}

.i-area {
  border: 1px solid rgba(200, 200, 200, 0.6);
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 15px;
  resize: none;
}
