html {
  box-sizing: border-box;
  height: 100%;
  font-size: 100px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #f3f3f3;
  font-size: 16px;
  height: 100%;
  font-family: 'Avenir', Arial, sans-serif, 'PingFang SC', 'Noto Sans CJK SC', 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clear::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.vux-header {
  background: linear-gradient(to right, #2bcba7, #2bc0cb);
}
.vux-search-box .weui-search-bar {
  background: linear-gradient(to right, #2bcba7, #2bc0cb);
}
.vux-search-box .weui-search-bar:before {
  height: 0;
  border-top: none;
}

.main-center {
  justify-content: center;
}
.axis-center {
  align-items: center;
}

.ab-left {
  position: absolute;
  right: 10px;
}
.ab-right {
  position: absolute;
  right: 10px;
}

p.body-info {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
/* Fix Vux rem problems */

.vux-timeline .vux-timeline-item-content {
  padding: 8px 0 25px 30px;
}
.main-part .vux-slider > .vux-swiper > .vux-swiper-item > a > .vux-swiper-desc {
  height: 56px;
}

/* Button */

.i-btn {
  display: inline-block;
  line-height: 1;
  border: 0;
  padding: 10px 16px;
  background-color: #2bc6b9;
  color: #fff;
  border-radius: 8px;
  outline: none;
  transition: background-color .5s ease-in-out;
}
.i-btn:active {
  background-color: #279f95;
}
/*.i-btn:hover {
  background-color: #2bc0cb;
}*/
.i-btn:disabled {
  background-color: #b0afaf;
}

.multi-btn {
  margin: 5px 10px;
}

/* Checker */
.i-checker-container {
  display: inline-block;
  z-index: 2;
}
.i-checker-input {
  position: absolute;
  visibility: hidden;
}
.i-checker-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 3px #dcdcdc solid;
  z-index: 1;
  border-radius: 2px;
  transition: background-color .3s ease-in-out;
  pointer-events: none;
}
.i-checker-input:checked+.i-checker-icon {
  background-color: #2bc6b9;
}

.i-btn-lg {
  display: block;
  width: 90%;
  border-radius: 4px;
}

.i-btn-blank {
  display: inline-block;
  line-height: 1;
  border: 1px #727271 solid;
  color: #727271;
  border-radius: 10px;
  padding: 6px 20px;
  background-color: transparent;
  transition: all .3s ease-in-out;
  outline: none;
}
.i-btn-blank:active {
  border-color: #fff;
  color: #fff;
  background-color: #2bcaab;
}
