html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif, 'PingFang SC', 'Noto Sans CJK SC', 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-center {
  justify-content: center;
}
.axis-center {
  align-items: center;
}

.ab-left {
  position: absolute;
  right: 10px;
}
.ab-right {
  position: absolute;
  right: 10px;
}
