<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户表格</title>
     <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.6.2/echarts.min.js"></script>
</head>
<body>
# 所有用户<br>
<!--{% for i in username_list %}-->
<!--{{i.username}}<br>-->
<!--{% endfor %}-->
<!--调用数据典范-->
<!--{%for key,value in reply.items%}-->
<!--{{key}}<br>-->
<!--{%for key2,value2 in value.items%}<br>-->
<!--{{key2}}-->
<!--{{value2}}-->
<!--{%endfor%}-->
<!--{%endfor%}-->
echarts 试用
 <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="bing" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '用户借阅'
            },
            tooltip: {},
            legend: {
                data:['借阅','归还','订阅取书']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [
            {
                name: '借阅',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            },
            {
                name: '归还',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            },
            {
                name: '订阅取书',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        var bingchat  = echarts.init(document.getElementById('bing'));
        var bing = {
           backgroundColor: '#2c343c',
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius: '55%',
            data:[
                {value:235, name:'视频广告'},
                {value:274, name:'联盟广告'},
                {value:310, name:'邮件营销'},
                {value:335, name:'直接访问'},
                {value:400, name:'搜索引擎'}
            ],
            label: {
                normal: {
                    textStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                }
            },
            labelLine: {
                normal: {
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                }
            },
            itemStyle: {
                normal: {
                    shadowBlur: 200,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
    };
        bingchat.setOption(bing);
    </script>
</body>
</html>