{% extends "base.html" %}
{% block mainbrand %}
<a class="navbar-brand" href="#">批量上传</a>
{% endblock %}
{% block mainbody %}
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">批量上传说明</h4>
    </div>
    <div class="card-content">
        <p>首先选择右方"下载模板"的按钮,下载模板的excel文件</p>
        <p>然后在excel文件中填入书籍信息</p>
        <p>最后选择右方的"上传文件"的按钮,完成批量上传</p>
    </div>
    <div class="card-footer i-center-box">
        <a href="{%url 'download'%}" class="btn btn-primary">下载模板</a>
        <a class="btn btn-success" data-toggle="modal" data-target="#myModal">上传文件</a>
    </div>
</div>
{% endblock %}
{% block modalpart %}

<!-- Modal Core -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">增加书籍</h4>
      </div>
      <div class="modal-body">
          <form class="form-add" action="{% url 'add_book_by_excel' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label"><i class="material-icons i-label-icon">file_upload</i> <span class="i-label-span">文件上传</span><input type="file" class="form-control-file" name="excel"></label>     
            </div>
        </form>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-info btn-simple" onclick="submitForm()">提交</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block endbody %}
<script>
    // Form
    var submitForm = function() {
      $('.form-add').submit();
    }

</script>
{% endblock %}