{% extends "base.html" %} 
{% block mainbrand %}
  <a class="navbar-brand" href="#">管理员</a>
{% endblock %}
{% block mainbody %}
<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h4 class="title">签到记录</h4>
        <!-- <p class="category">New employees on 15th September, 2016</p> -->
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead>
            <th>ID</th>
            <th>管理员名字</th>
            <th>签到时间</th>
          </thead>
          <tbody>
            {% for sign in signs %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{sign.user.username}}</td>
              <td>{{sign.date|date:"Y-m-d H:i:s"}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
  <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">管理员列表</h4>
          <!-- <p class="category">New employees on 15th September, 2016</p> -->
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>管理员名字</th>
                <th>总签到次数</th>
                <th>详情</th>
              </tr>
            </thead>
            <tbody>
              {% for user_id,value in reply.items %}
              <tr>
                <td>{{forloop.counter}}</td>
                {% for key,value in value.items %}
                <td>{{value}}</td>
                {% endfor%}
                <td>
                  <form action="{%url 'adminer_detail' user_id%}" method="POST">
                    {%csrf_token%}
                    <button type="submit" rel="tooltip" title="点击查看" class="btn btn-primary btn-simple btn-xs">
                      <i class="material-icons">edit</i>
                    </button>
                  </form>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
  </div>   
</div>

<div align="center">
  <br>
  <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">创建新的管理员</button>
</div>



{% endblock %}
{% block modalpart %}
<!-- Modal Core -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">添加管理员</h4>
      </div>
      <div class="modal-body">
        <form role="form" action="{%url 'create_admin'%}" method="POST">
          {%csrf_token%}
          <div class="form-group label-floating is-empty">
            <label class="control-label">输入用户名</label>
            <input class="form-control" type="text" name="username">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">输入密码</label>
            <input class="form-control" type="password" name="password">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">再次输入密码 </label>
            <input class="form-control" type="password">
          </div>
          <button type="submit" class="btn btn-danger">提交</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}