{% extends "base.html" %} 
{% block mainbrand %}
<a class="navbar-brand" href="#">管理员详情</a>
{% endblock %}
{% block mainbody %}
<div class="card">
  <div class="card-header card-chart" data-background-color="orange">
    <div class="ct-chart" id="operationsChart"></div>
  </div>
  <div class="card-content">
    <h4 class="title">操作总览</h4>
  </div>
</div>
<div class="card">
  <div class="card-header" data-background-color="purple">
    <h4 class="title">借出操作统计</h4>
    <!-- <p class="category">New employees on 15th September, 2016</p> -->
  </div>
  <div class="card-content table-responsive">
    <table class="table table-hover">
      <thead >
        <th>13位isbn</th>
        <th>书籍编号</th>
        <th>索书号</th>
        <th>馆藏位置</th>
        <th>借书时间</th>
        <th>约定归还时间</th>
      </thead>
      <tbody>
          {% for record in borrow_record %}
          <tr>
              <td>{{record.borrow_item.isbn13}}</td>
              <td>{{record.borrow_item.book_id}}</td>
              <td>{{record.borrow_item.find_id}}</td>
              <td>{{record.borrow_item.location}}</td>
              <td>{{record.borrow_item.borrow_time}}</td>
              <td>{{record.borrow_item.return_time}}</td>
          </tr>
          {%endfor%}
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" data-background-color="purple">
    <h4 class="title">归还操作统计</h4>
    <!-- <p class="category">New employees on 15th September, 2016</p> -->
  </div>
  <div class="card-content table-responsive">
    <table class="table table-hover">
      <thead >
        <th>13位isbn</th>
        <th>书籍编号</th>
        <th>索书号</th>
        <th>馆藏位置</th>
        <th>借书时间</th>
        <th>约定归还时间</th>
      </thead>
      <tbody>
          {% for record in return_record %}
          <tr>
              <td>{{record.borrow_item.isbn13}}</td>
              <td>{{record.borrow_item.book_id}}</td>
              <td>{{record.borrow_item.find_id}}</td>
              <td>{{record.borrow_item.location}}</td>
              <td>{{record.borrow_item.borrow_time}}</td>
              <td>{{record.borrow_item.return_time}}</td>
          </tr>
          {%endfor%}
      </tbody>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header" data-background-color="purple">
    <h4 class="title">订阅取书操作统计</h4>
    <!-- <p class="category">New employees on 15th September, 2016</p> -->
  </div>
  <div class="card-content table-responsive">
    <table class="table table-hover">
      <thead >
        <th>13位isbn</th>
        <th>书籍编号</th>
        <th>书籍标题</th>
        <th>约定取书时间</th>
      </thead>
      <tbody>
          {% for record in order_record %}
          <tr>
              <td>{{record.order_item.isbn13}}</td>
              <td>{{record.order_item.book_id}}</td>
              <td>{{record.order_item.title}}</td>
              <td>{{record.order_item.order_time|date:"Y-m-d H:i:s"}}</td>
          </tr>
          {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block endbody %}
<script>
    /* ----------==========     Daily Sales Chart initialization For Documentation    ==========---------- */

    operationsChart = {
          labels: ['借阅','归还','订阅取书'],
          // series: [
          //     [1, 2, 3]
          // ]
          series: [
              [{{borrow_sum}}, {{return_sum}}, {{order_sum}}]
          ]
      };

      operationsChartOptions = {
        axisX: {
          showGrid: false
        },
        chartPadding: { top: 30, right: 0, bottom: 0, left: 0},
      }

      var dailySalesChart = new Chartist.Bar('#operationsChart', operationsChart, operationsChartOptions);

      md.startAnimationForLineChart(dailySalesChart);
</script>
{% endblock %}