{% extends "base.html" %}
{% block mainbrand %}
<a class="navbar-brand" href="#">用户详情</a>
{% endblock %}
{% block mainbody %}
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-chart" data-background-color="orange">
              <div class="c-chart" id="operationsChart"></div>
            </div>
            <div class="card-content">
              <h4 class="title">操作总览</h4>
            </div>
          </div>
      </div>  
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">用户列表</h4>
                <p class="category">关注公众号的用户</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>昵称</th>
                            <th>{{wechat_user.nickname}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>性别</td>
                            {% if wechat_user.sex == 1%}
                            <td>男</td>
                            {%else%}
                            <td>女</td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td>省份</td>
                            <td>{{wechat_user.province}}</td>
                        </tr>
                        <tr>
                            <td>城市</td>
                            <td>{{wechat_user.city}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" data-background-color="red">
        <h4 class="title">正在借阅书目</h4>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead>
              <th>13位isbn</th>
              <th>书籍编号</th>
              <th>索书号</th>
              <th>馆藏位置</th>
              <th>借书时间</th>
              <th>约定归还时间</th>
            </thead>
            <tbody>
              {% for item in borrow_record %}
              <tr>
                <td>{{item.isbn13}}</td>
                <td>{{item.book_id}}</td>
                <td>{{item.find_id}}</td>
                <td>{{item.location}}</td>
                <td>{{item.borrow_time}}</td>
                <td>{{item.return_time}}</td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-header" data-background-color="green">
        <h4 class="title">借阅历史</h4>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead>
              <th>13位isbn</th>
              <th>书籍编号</th>
              <th>索书号</th>
              <th>馆藏位置</th>
              <th>借书时间</th>
              <th>约定归还时间</th>
            </thead>
            <tbody>
              {% for item in return_record %}
              <tr>
                <td>{{item.isbn13}}</td>
                <td>{{item.book_id}}</td>
                <td>{{item.find_id}}</td>
                <td>{{item.location}}</td>
                <td>{{item.borrow_time}}</td>
                <td>{{item.return_time}}</td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-header" data-background-color="blue">
        <h4 class="title">成功预订</h4>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead>
              <th>13位isbn</th>
              <th>书籍编号</th>
              <th>书籍标题</th>
              <th>约定取书时间</th>
            </thead>
            <tbody>
              {% for item in order_success_record %}
              <tr>
                <td>{{item.isbn13}}</td>
                <td>{{item.book_id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.order_time|date:"Y-m-d H:i:s"}}</td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-header" data-background-color="orange">
        <h4 class="title">等待还书</h4>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead>
              <th>13位isbn</th>
              <th>书籍编号</th>
              <th>书籍标题</th>
              <th>可能归还时间</th>
            </thead>
            <tbody>
              {% for item in order_wait_record %}
              <tr>
                  <td>{{item.isbn13}}</td>
                  <td>{{item.book_id}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.may_return_time}}</td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
<div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">用户列表</h4>
        <p class="category">关注公众号的用户</p>
    </div>
    <div class="card-content table-responsive">
        <table class="table table-hover">
            <thead>
                    <tr>
                            <th>昵称</th>
                            <th>{{wechat_user.nickname}}</th>
                        </tr>
            </thead>
            <tbody>
              {% for user in wechat_users %}
              <tr>
                <td>{{forloop.counter}}</td>

                <td>{{user.openid}}</td>
                <td>{{user.nickname}}</td>
                {% if user.sex == 1%}
                <td>男</td>
                {%else%}
                <td>女</td>
                {%endif%}
                <td>{{user.province}}</td>
                <td>{{user.city}}</td>
                <td>
                    <a href="{%url 'user_detail' user.id%}"><i class="material-icons">edit</i></a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% block endbody %}
<script>
    /* ----------==========     Daily Sales Chart initialization For Documentation    ==========---------- */

    operationsChart = {
          labels: ['正在借阅','已经归还','成功订阅','等待归还的订阅'],
          series: [
              [{{borrow_sum}}, {{return_sum}}, {{order_success_sum}}, {{order_wait_sum}}]
          ]
      };

      operationsChartOptions = {
        axisX: {
          showGrid: false
        },
        chartPadding: { top: 30, right: 0, bottom: 0, left: 0},
      }

      var dailySalesChart = new Chartist.Bar('#operationsChart', operationsChart, operationsChartOptions);

      md.startAnimationForLineChart(dailySalesChart);
</script>
{% endblock %}
